# Estimating local and global feature importance scores using DiCE

Summaries of counterfactual examples can be used to estimate importance of features. Intuitively, a feature that is changed more often to generate a proximal counterfactual is an important feature. We use this intuition to build a feature importance score. 

This score can be interpreted as a measure of the **necessity** of a feature to cause a particular model output. That is, if the feature's value changes, then it is likely that the model's output class will also change (or the model's output will significantly change in case of regression model).  

Below we show how counterfactuals can be used to provide local feature importance scores for any input, and how those scores can be combined to yield a global importance score for each feature.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import tensorflow as tf
from sklearn.neural_network import MLPClassifier
import dice_ml
from dice_ml import Dice
from dice_ml.utils import helpers # helper functions

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.svm import SVC
from lightgbm import LGBMClassifier
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Preliminaries: Loading the data and ML model

In [3]:
dataset = helpers.load_adult_income_dataset()
helpers.get_adult_data_info()

{'age': 'age',
 'workclass': 'type of industry (Government, Other/Unknown, Private, Self-Employed)',
 'education': 'education level (Assoc, Bachelors, Doctorate, HS-grad, Masters, Prof-school, School, Some-college)',
 'marital_status': 'marital status (Divorced, Married, Separated, Single, Widowed)',
 'occupation': 'occupation (Blue-Collar, Other/Unknown, Professional, Sales, Service, White-Collar)',
 'race': 'white or other race?',
 'gender': 'male or female?',
 'hours_per_week': 'total work hours per week',
 'income': '0 (<=50K) vs 1 (>50K)'}

In [4]:
target = dataset["income"]
# Split data into train and test
from sklearn.model_selection import train_test_split
datasetX = dataset.drop("income", axis=1)
x_train, x_test, y_train, y_test = train_test_split(datasetX, 
                                                    target, 
                                                    test_size = 0.2,
                                                    random_state=0,
                                                    stratify=target)

numerical=["age", "hours_per_week"]
categorical = x_train.columns.difference(numerical) 
from sklearn.compose import ColumnTransformer

# We create the preprocessing pipelines for both numeric and categorical data.
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

transformations = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical),
        ('cat', categorical_transformer, categorical)])

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.
clf = Pipeline(steps=[('preprocessor', transformations),
                      ('classifier', LGBMClassifier())])

In [5]:
d = dice_ml.Data(dataframe=dataset, continuous_features=['age', 'hours_per_week'], outcome_name='income')
model = clf.fit(x_train, y_train)
m = dice_ml.Model(model=model, backend="sklearn")

## Local feature importance

We first generate counterfactuals for a given input point.

In [12]:
exp = Dice(d, m, method="random")
query_instance = {'age':22, 
                  'workclass':'Private', 
                  'education':'HS-grad', 
                  'marital_status':'Single', 
                  'occupation':'Service',
                  'race': 'White', 
                  'gender':'Female', 
                  'hours_per_week': 45}
query_instances = x_train[0:10]
e1 = exp.generate_counterfactuals(query_instances, total_CFs=1, posthoc_sparsity_param=None)
e1.visualize_as_dataframe()
e1.cf_examples_list

Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
29101,19,Other/Unknown,Some-college,Single,Other/Unknown,White,Female,30

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39.0,Self-Employed,Masters,Married,Professional,White,Male,5.0

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
10606,50,Private,Some-college,Married,Blue-Collar,White,Male,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39.0,Self-Employed,Masters,Married,Professional,White,Male,5.0

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
9414,62,Private,Some-college,Married,White-Collar,White,Male,40

Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
200,66.0,Government,Bachelors,Single,White-Collar,White,Male,48.0

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
1747,20,Private,HS-grad,Single,White-Collar,White,Female,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39.0,Self-Employed,Masters,Married,Professional,White,Male,5.0

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
10677,25,Private,Bachelors,Single,White-Collar,White,Female,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39.0,Self-Employed,Masters,Married,Professional,White,Male,5.0

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
14370,22,Other/Unknown,Assoc,Single,Other/Unknown,White,Male,15

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39.0,Self-Employed,Masters,Married,Professional,White,Male,5.0

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
19403,21,Private,HS-grad,Single,White-Collar,White,Male,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39.0,Self-Employed,Masters,Married,Professional,White,Male,5.0

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
23351,24,Other/Unknown,Bachelors,Single,Other/Unknown,Other,Male,25

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39.0,Self-Employed,Masters,Married,Professional,White,Male,5.0

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
14405,52,Private,HS-grad,Divorced,Service,White,Male,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39.0,Self-Employed,Masters,Married,Professional,White,Male,5.0

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
29604,30,Private,Some-college,Single,Service,White,Male,48

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39.0,Self-Employed,Masters,Married,Professional,White,Male,5.0

[<dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eb999940>,
 <dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eb999d60>,
 <dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eb9994f0>,
 <dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eada7370>,
 <dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eada7ca0>,
 <dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eada7dc0>,
 <dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eb999190>,
 <dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eb999a30>,
 <dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eae6b730>,
 <dice_ml.diverse_counterfactuals.CounterfactualExamples at 0x7f76eae6b460>]

These can now be used to calculate the feature importance scores.

In [13]:
imp = exp.feature_importance(query_instances, cf_examples_list=e1.cf_examples_list)
print(imp.local_importance)

[{'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 0.0, 'gender': 1.0, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 0.0, 'occupation': 1.0, 'race': 0.0, 'gender': 0.0, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 0.0, 'race': 0.0, 'gender': 0.0, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 0.0, 'gender': 1.0, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 0.0, 'gender': 1.0, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 0.0, 'gender': 0.0, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 0.0, 'gender': 0.0, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 1.0, 'gender': 0.0, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 0.0, 'gender': 0.0, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 0.0, 'gender': 0.0, 'age': 1.0, 'hours_per_week': 1.0}]

Feature importance can also be estimated directly, by leaving the `cf_examples_list` argument blank.

In [14]:
imp = exp.feature_importance(query_instances, posthoc_sparsity_param=None)
print(imp.local_importance)

Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
[{'workclass': 0.8, 'education': 1.0, 'marital_status': 0.7, 'occupation': 0.9, 'race': 0.2, 'gender': 0.8, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 0.5, 'occupation': 1.0, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 0.9, 'education': 0.9, 'marital_status': 0.9, 'occupation': 0.6, 'race': 0.3, 'gender': 0.3, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 0.7, 'occupation': 0.7, 'race': 0.2, 'gender': 0.8, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 0.7, 'marital_status': 0.7, 'occupation': 0.7, 'race': 0.2, 'gender': 0.8, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 0.8, 'education': 1.0, 'marital_status': 0.7, 'occupation': 0.9, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 0.7, 'occupation': 0.7, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 0.8, 'education': 0.7, 'marital_status': 0.7, 'occupation': 0.9, 'race': 0.8, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 0.7, 'occupation': 1.0, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}]

## Global importance

For global importance, we need to generate counterfactuals for a representative sample of the dataset.

In [15]:
cobj=exp.feature_importance(query_instances[0:10], total_CFs=10, posthoc_sparsity_param=None)
print(cobj.summary_importance)

Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
Diverse Counterfactuals found! total time taken: 00 min 00 sec
{'workclass': 0.93, 'education': 0.93, 'marital_status': 0.73, 'occupation': 0.84, 'race': 0.27, 'gender': 0.39, 'age': 1.0, 'hours_per_week': 1.0}

## Convert the counterfactual output to json

In [16]:
json_str = cobj.to_json()
print(json_str)

{
  "cf_examples_list": [
    "{\"model_type\": \"classifier\", \"desired_class\": 0.0, \"desired_range\": null, \"test_instance_df\": \"{\\\"age\\\":{\\\"29101\\\":19},\\\"workclass\\\":{\\\"29101\\\":\\\"Other\\\\/Unknown\\\"},\\\"education\\\":{\\\"29101\\\":\\\"Some-college\\\"},\\\"marital_status\\\":{\\\"29101\\\":\\\"Single\\\"},\\\"occupation\\\":{\\\"29101\\\":\\\"Other\\\\/Unknown\\\"},\\\"race\\\":{\\\"29101\\\":\\\"White\\\"},\\\"gender\\\":{\\\"29101\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"29101\\\":30}}\", \"test_instance_pred\": 0.9997032168430745, \"final_cfs_df\": \"{\\\"age\\\":{\\\"468\\\":39.0,\\\"213\\\":44.0,\\\"960\\\":70.0,\\\"803\\\":74.0,\\\"439\\\":79.0,\\\"425\\\":60.0,\\\"497\\\":53.0,\\\"728\\\":53.0,\\\"755\\\":74.0,\\\"354\\\":48.0},\\\"workclass\\\":{\\\"468\\\":\\\"Self-Employed\\\",\\\"213\\\":\\\"Self-Employed\\\",\\\"960\\\":\\\"Self-Employed\\\",\\\"803\\\":\\\"Government\\\",\\\"439\\\":\\\"Self-Employed\\\",\\\"425\\\":\\\"Government\\\",\\\"497\\\":\\\"Government\\\",\\\"728\\\":\\\"Self-Employed\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Other\\\\/Unknown\\\"},\\\"education\\\":{\\\"468\\\":\\\"Masters\\\",\\\"213\\\":\\\"Masters\\\",\\\"960\\\":\\\"Masters\\\",\\\"803\\\":\\\"Bachelors\\\",\\\"439\\\":\\\"Masters\\\",\\\"425\\\":\\\"Bachelors\\\",\\\"497\\\":\\\"Bachelors\\\",\\\"728\\\":\\\"Masters\\\",\\\"755\\\":\\\"Prof-school\\\",\\\"354\\\":\\\"Doctorate\\\"},\\\"marital_status\\\":{\\\"468\\\":\\\"Married\\\",\\\"213\\\":\\\"Married\\\",\\\"960\\\":\\\"Married\\\",\\\"803\\\":\\\"Single\\\",\\\"439\\\":\\\"Married\\\",\\\"425\\\":\\\"Single\\\",\\\"497\\\":\\\"Single\\\",\\\"728\\\":\\\"Married\\\",\\\"755\\\":\\\"Widowed\\\",\\\"354\\\":\\\"Widowed\\\"},\\\"occupation\\\":{\\\"468\\\":\\\"Professional\\\",\\\"213\\\":\\\"Professional\\\",\\\"960\\\":\\\"Professional\\\",\\\"803\\\":\\\"White-Collar\\\",\\\"439\\\":\\\"Professional\\\",\\\"425\\\":\\\"White-Collar\\\",\\\"497\\\":\\\"White-Collar\\\",\\\"728\\\":\\\"Professional\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Sales\\\"},\\\"race\\\":{\\\"468\\\":\\\"White\\\",\\\"213\\\":\\\"White\\\",\\\"960\\\":\\\"White\\\",\\\"803\\\":\\\"White\\\",\\\"439\\\":\\\"White\\\",\\\"425\\\":\\\"White\\\",\\\"497\\\":\\\"White\\\",\\\"728\\\":\\\"White\\\",\\\"755\\\":\\\"Other\\\",\\\"354\\\":\\\"Other\\\"},\\\"gender\\\":{\\\"468\\\":\\\"Male\\\",\\\"213\\\":\\\"Male\\\",\\\"960\\\":\\\"Male\\\",\\\"803\\\":\\\"Male\\\",\\\"439\\\":\\\"Male\\\",\\\"425\\\":\\\"Male\\\",\\\"497\\\":\\\"Male\\\",\\\"728\\\":\\\"Male\\\",\\\"755\\\":\\\"Female\\\",\\\"354\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"468\\\":5.0,\\\"213\\\":98.0,\\\"960\\\":35.0,\\\"803\\\":89.0,\\\"439\\\":58.0,\\\"425\\\":81.0,\\\"497\\\":50.0,\\\"728\\\":28.0,\\\"755\\\":50.0,\\\"354\\\":55.0}}\"}",
    "{\"model_type\": \"classifier\", \"desired_class\": 0.0, \"desired_range\": null, \"test_instance_df\": \"{\\\"age\\\":{\\\"10606\\\":50},\\\"workclass\\\":{\\\"10606\\\":\\\"Private\\\"},\\\"education\\\":{\\\"10606\\\":\\\"Some-college\\\"},\\\"marital_status\\\":{\\\"10606\\\":\\\"Married\\\"},\\\"occupation\\\":{\\\"10606\\\":\\\"Blue-Collar\\\"},\\\"race\\\":{\\\"10606\\\":\\\"White\\\"},\\\"gender\\\":{\\\"10606\\\":\\\"Male\\\"},\\\"hours_per_week\\\":{\\\"10606\\\":40}}\", \"test_instance_pred\": 0.5198251104470899, \"final_cfs_df\": \"{\\\"age\\\":{\\\"468\\\":39.0,\\\"213\\\":44.0,\\\"960\\\":70.0,\\\"803\\\":74.0,\\\"439\\\":79.0,\\\"425\\\":60.0,\\\"497\\\":53.0,\\\"728\\\":53.0,\\\"755\\\":74.0,\\\"354\\\":48.0},\\\"workclass\\\":{\\\"468\\\":\\\"Self-Employed\\\",\\\"213\\\":\\\"Self-Employed\\\",\\\"960\\\":\\\"Self-Employed\\\",\\\"803\\\":\\\"Government\\\",\\\"439\\\":\\\"Self-Employed\\\",\\\"425\\\":\\\"Government\\\",\\\"497\\\":\\\"Government\\\",\\\"728\\\":\\\"Self-Employed\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Other\\\\/Unknown\\\"},\\\"education\\\":{\\\"468\\\":\\\"Masters\\\",\\\"213\\\":\\\"Masters\\\",\\\"960\\\":\\\"Masters\\\",\\\"803\\\":\\\"Bachelors\\\",\\\"439\\\":\\\"Masters\\\",\\\"425\\\":\\\"Bachelors\\\",\\\"497\\\":\\\"Bachelors\\\",\\\"728\\\":\\\"Masters\\\",\\\"755\\\":\\\"Prof-school\\\",\\\"354\\\":\\\"Doctorate\\\"},\\\"marital_status\\\":{\\\"468\\\":\\\"Married\\\",\\\"213\\\":\\\"Married\\\",\\\"960\\\":\\\"Married\\\",\\\"803\\\":\\\"Single\\\",\\\"439\\\":\\\"Married\\\",\\\"425\\\":\\\"Single\\\",\\\"497\\\":\\\"Single\\\",\\\"728\\\":\\\"Married\\\",\\\"755\\\":\\\"Widowed\\\",\\\"354\\\":\\\"Widowed\\\"},\\\"occupation\\\":{\\\"468\\\":\\\"Professional\\\",\\\"213\\\":\\\"Professional\\\",\\\"960\\\":\\\"Professional\\\",\\\"803\\\":\\\"White-Collar\\\",\\\"439\\\":\\\"Professional\\\",\\\"425\\\":\\\"White-Collar\\\",\\\"497\\\":\\\"White-Collar\\\",\\\"728\\\":\\\"Professional\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Sales\\\"},\\\"race\\\":{\\\"468\\\":\\\"White\\\",\\\"213\\\":\\\"White\\\",\\\"960\\\":\\\"White\\\",\\\"803\\\":\\\"White\\\",\\\"439\\\":\\\"White\\\",\\\"425\\\":\\\"White\\\",\\\"497\\\":\\\"White\\\",\\\"728\\\":\\\"White\\\",\\\"755\\\":\\\"Other\\\",\\\"354\\\":\\\"Other\\\"},\\\"gender\\\":{\\\"468\\\":\\\"Male\\\",\\\"213\\\":\\\"Male\\\",\\\"960\\\":\\\"Male\\\",\\\"803\\\":\\\"Male\\\",\\\"439\\\":\\\"Male\\\",\\\"425\\\":\\\"Male\\\",\\\"497\\\":\\\"Male\\\",\\\"728\\\":\\\"Male\\\",\\\"755\\\":\\\"Female\\\",\\\"354\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"468\\\":5.0,\\\"213\\\":98.0,\\\"960\\\":35.0,\\\"803\\\":89.0,\\\"439\\\":58.0,\\\"425\\\":81.0,\\\"497\\\":50.0,\\\"728\\\":28.0,\\\"755\\\":50.0,\\\"354\\\":55.0}}\"}",
    "{\"model_type\": \"classifier\", \"desired_class\": 1.0, \"desired_range\": null, \"test_instance_df\": \"{\\\"age\\\":{\\\"9414\\\":62},\\\"workclass\\\":{\\\"9414\\\":\\\"Private\\\"},\\\"education\\\":{\\\"9414\\\":\\\"Some-college\\\"},\\\"marital_status\\\":{\\\"9414\\\":\\\"Married\\\"},\\\"occupation\\\":{\\\"9414\\\":\\\"White-Collar\\\"},\\\"race\\\":{\\\"9414\\\":\\\"White\\\"},\\\"gender\\\":{\\\"9414\\\":\\\"Male\\\"},\\\"hours_per_week\\\":{\\\"9414\\\":40}}\", \"test_instance_pred\": 0.4745226633949686, \"final_cfs_df\": \"{\\\"age\\\":{\\\"200\\\":66.0,\\\"150\\\":39.0,\\\"744\\\":83.0,\\\"253\\\":18.0,\\\"752\\\":43.0,\\\"653\\\":21.0,\\\"452\\\":35.0,\\\"825\\\":50.0,\\\"807\\\":48.0,\\\"614\\\":60.0},\\\"workclass\\\":{\\\"200\\\":\\\"Government\\\",\\\"150\\\":\\\"Government\\\",\\\"744\\\":\\\"Government\\\",\\\"253\\\":\\\"Other\\\\/Unknown\\\",\\\"752\\\":\\\"Self-Employed\\\",\\\"653\\\":\\\"Government\\\",\\\"452\\\":\\\"Private\\\",\\\"825\\\":\\\"Self-Employed\\\",\\\"807\\\":\\\"Government\\\",\\\"614\\\":\\\"Other\\\\/Unknown\\\"},\\\"education\\\":{\\\"200\\\":\\\"Bachelors\\\",\\\"150\\\":\\\"Bachelors\\\",\\\"744\\\":\\\"Bachelors\\\",\\\"253\\\":\\\"Doctorate\\\",\\\"752\\\":\\\"School\\\",\\\"653\\\":\\\"HS-grad\\\",\\\"452\\\":\\\"Some-college\\\",\\\"825\\\":\\\"Masters\\\",\\\"807\\\":\\\"HS-grad\\\",\\\"614\\\":\\\"Prof-school\\\"},\\\"marital_status\\\":{\\\"200\\\":\\\"Single\\\",\\\"150\\\":\\\"Single\\\",\\\"744\\\":\\\"Single\\\",\\\"253\\\":\\\"Widowed\\\",\\\"752\\\":\\\"Married\\\",\\\"653\\\":\\\"Single\\\",\\\"452\\\":\\\"Divorced\\\",\\\"825\\\":\\\"Divorced\\\",\\\"807\\\":\\\"Single\\\",\\\"614\\\":\\\"Widowed\\\"},\\\"occupation\\\":{\\\"200\\\":\\\"White-Collar\\\",\\\"150\\\":\\\"White-Collar\\\",\\\"744\\\":\\\"White-Collar\\\",\\\"253\\\":\\\"Other\\\\/Unknown\\\",\\\"752\\\":\\\"Blue-Collar\\\",\\\"653\\\":\\\"White-Collar\\\",\\\"452\\\":\\\"Service\\\",\\\"825\\\":\\\"Professional\\\",\\\"807\\\":\\\"Blue-Collar\\\",\\\"614\\\":\\\"Other\\\\/Unknown\\\"},\\\"race\\\":{\\\"200\\\":\\\"White\\\",\\\"150\\\":\\\"White\\\",\\\"744\\\":\\\"White\\\",\\\"253\\\":\\\"Other\\\",\\\"752\\\":\\\"White\\\",\\\"653\\\":\\\"White\\\",\\\"452\\\":\\\"Other\\\",\\\"825\\\":\\\"White\\\",\\\"807\\\":\\\"White\\\",\\\"614\\\":\\\"Other\\\"},\\\"gender\\\":{\\\"200\\\":\\\"Male\\\",\\\"150\\\":\\\"Male\\\",\\\"744\\\":\\\"Male\\\",\\\"253\\\":\\\"Female\\\",\\\"752\\\":\\\"Male\\\",\\\"653\\\":\\\"Male\\\",\\\"452\\\":\\\"Female\\\",\\\"825\\\":\\\"Male\\\",\\\"807\\\":\\\"Male\\\",\\\"614\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"200\\\":48.0,\\\"150\\\":7.0,\\\"744\\\":68.0,\\\"253\\\":89.0,\\\"752\\\":31.0,\\\"653\\\":27.0,\\\"452\\\":67.0,\\\"825\\\":31.0,\\\"807\\\":32.0,\\\"614\\\":87.0}}\"}",
    "{\"model_type\": \"classifier\", \"desired_class\": 0.0, \"desired_range\": null, \"test_instance_df\": \"{\\\"age\\\":{\\\"1747\\\":20},\\\"workclass\\\":{\\\"1747\\\":\\\"Private\\\"},\\\"education\\\":{\\\"1747\\\":\\\"HS-grad\\\"},\\\"marital_status\\\":{\\\"1747\\\":\\\"Single\\\"},\\\"occupation\\\":{\\\"1747\\\":\\\"White-Collar\\\"},\\\"race\\\":{\\\"1747\\\":\\\"White\\\"},\\\"gender\\\":{\\\"1747\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"1747\\\":40}}\", \"test_instance_pred\": 0.9994653933168958, \"final_cfs_df\": \"{\\\"age\\\":{\\\"468\\\":39.0,\\\"213\\\":44.0,\\\"960\\\":70.0,\\\"803\\\":74.0,\\\"439\\\":79.0,\\\"425\\\":60.0,\\\"497\\\":53.0,\\\"728\\\":53.0,\\\"755\\\":74.0,\\\"354\\\":48.0},\\\"workclass\\\":{\\\"468\\\":\\\"Self-Employed\\\",\\\"213\\\":\\\"Self-Employed\\\",\\\"960\\\":\\\"Self-Employed\\\",\\\"803\\\":\\\"Government\\\",\\\"439\\\":\\\"Self-Employed\\\",\\\"425\\\":\\\"Government\\\",\\\"497\\\":\\\"Government\\\",\\\"728\\\":\\\"Self-Employed\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Other\\\\/Unknown\\\"},\\\"education\\\":{\\\"468\\\":\\\"Masters\\\",\\\"213\\\":\\\"Masters\\\",\\\"960\\\":\\\"Masters\\\",\\\"803\\\":\\\"Bachelors\\\",\\\"439\\\":\\\"Masters\\\",\\\"425\\\":\\\"Bachelors\\\",\\\"497\\\":\\\"Bachelors\\\",\\\"728\\\":\\\"Masters\\\",\\\"755\\\":\\\"Prof-school\\\",\\\"354\\\":\\\"Doctorate\\\"},\\\"marital_status\\\":{\\\"468\\\":\\\"Married\\\",\\\"213\\\":\\\"Married\\\",\\\"960\\\":\\\"Married\\\",\\\"803\\\":\\\"Single\\\",\\\"439\\\":\\\"Married\\\",\\\"425\\\":\\\"Single\\\",\\\"497\\\":\\\"Single\\\",\\\"728\\\":\\\"Married\\\",\\\"755\\\":\\\"Widowed\\\",\\\"354\\\":\\\"Widowed\\\"},\\\"occupation\\\":{\\\"468\\\":\\\"Professional\\\",\\\"213\\\":\\\"Professional\\\",\\\"960\\\":\\\"Professional\\\",\\\"803\\\":\\\"White-Collar\\\",\\\"439\\\":\\\"Professional\\\",\\\"425\\\":\\\"White-Collar\\\",\\\"497\\\":\\\"White-Collar\\\",\\\"728\\\":\\\"Professional\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Sales\\\"},\\\"race\\\":{\\\"468\\\":\\\"White\\\",\\\"213\\\":\\\"White\\\",\\\"960\\\":\\\"White\\\",\\\"803\\\":\\\"White\\\",\\\"439\\\":\\\"White\\\",\\\"425\\\":\\\"White\\\",\\\"497\\\":\\\"White\\\",\\\"728\\\":\\\"White\\\",\\\"755\\\":\\\"Other\\\",\\\"354\\\":\\\"Other\\\"},\\\"gender\\\":{\\\"468\\\":\\\"Male\\\",\\\"213\\\":\\\"Male\\\",\\\"960\\\":\\\"Male\\\",\\\"803\\\":\\\"Male\\\",\\\"439\\\":\\\"Male\\\",\\\"425\\\":\\\"Male\\\",\\\"497\\\":\\\"Male\\\",\\\"728\\\":\\\"Male\\\",\\\"755\\\":\\\"Female\\\",\\\"354\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"468\\\":5.0,\\\"213\\\":98.0,\\\"960\\\":35.0,\\\"803\\\":89.0,\\\"439\\\":58.0,\\\"425\\\":81.0,\\\"497\\\":50.0,\\\"728\\\":28.0,\\\"755\\\":50.0,\\\"354\\\":55.0}}\"}",
    "{\"model_type\": \"classifier\", \"desired_class\": 0.0, \"desired_range\": null, \"test_instance_df\": \"{\\\"age\\\":{\\\"10677\\\":25},\\\"workclass\\\":{\\\"10677\\\":\\\"Private\\\"},\\\"education\\\":{\\\"10677\\\":\\\"Bachelors\\\"},\\\"marital_status\\\":{\\\"10677\\\":\\\"Single\\\"},\\\"occupation\\\":{\\\"10677\\\":\\\"White-Collar\\\"},\\\"race\\\":{\\\"10677\\\":\\\"White\\\"},\\\"gender\\\":{\\\"10677\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"10677\\\":40}}\", \"test_instance_pred\": 0.986679094659928, \"final_cfs_df\": \"{\\\"age\\\":{\\\"468\\\":39.0,\\\"213\\\":44.0,\\\"960\\\":70.0,\\\"803\\\":74.0,\\\"439\\\":79.0,\\\"425\\\":60.0,\\\"497\\\":53.0,\\\"728\\\":53.0,\\\"755\\\":74.0,\\\"354\\\":48.0},\\\"workclass\\\":{\\\"468\\\":\\\"Self-Employed\\\",\\\"213\\\":\\\"Self-Employed\\\",\\\"960\\\":\\\"Self-Employed\\\",\\\"803\\\":\\\"Government\\\",\\\"439\\\":\\\"Self-Employed\\\",\\\"425\\\":\\\"Government\\\",\\\"497\\\":\\\"Government\\\",\\\"728\\\":\\\"Self-Employed\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Other\\\\/Unknown\\\"},\\\"education\\\":{\\\"468\\\":\\\"Masters\\\",\\\"213\\\":\\\"Masters\\\",\\\"960\\\":\\\"Masters\\\",\\\"803\\\":\\\"Bachelors\\\",\\\"439\\\":\\\"Masters\\\",\\\"425\\\":\\\"Bachelors\\\",\\\"497\\\":\\\"Bachelors\\\",\\\"728\\\":\\\"Masters\\\",\\\"755\\\":\\\"Prof-school\\\",\\\"354\\\":\\\"Doctorate\\\"},\\\"marital_status\\\":{\\\"468\\\":\\\"Married\\\",\\\"213\\\":\\\"Married\\\",\\\"960\\\":\\\"Married\\\",\\\"803\\\":\\\"Single\\\",\\\"439\\\":\\\"Married\\\",\\\"425\\\":\\\"Single\\\",\\\"497\\\":\\\"Single\\\",\\\"728\\\":\\\"Married\\\",\\\"755\\\":\\\"Widowed\\\",\\\"354\\\":\\\"Widowed\\\"},\\\"occupation\\\":{\\\"468\\\":\\\"Professional\\\",\\\"213\\\":\\\"Professional\\\",\\\"960\\\":\\\"Professional\\\",\\\"803\\\":\\\"White-Collar\\\",\\\"439\\\":\\\"Professional\\\",\\\"425\\\":\\\"White-Collar\\\",\\\"497\\\":\\\"White-Collar\\\",\\\"728\\\":\\\"Professional\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Sales\\\"},\\\"race\\\":{\\\"468\\\":\\\"White\\\",\\\"213\\\":\\\"White\\\",\\\"960\\\":\\\"White\\\",\\\"803\\\":\\\"White\\\",\\\"439\\\":\\\"White\\\",\\\"425\\\":\\\"White\\\",\\\"497\\\":\\\"White\\\",\\\"728\\\":\\\"White\\\",\\\"755\\\":\\\"Other\\\",\\\"354\\\":\\\"Other\\\"},\\\"gender\\\":{\\\"468\\\":\\\"Male\\\",\\\"213\\\":\\\"Male\\\",\\\"960\\\":\\\"Male\\\",\\\"803\\\":\\\"Male\\\",\\\"439\\\":\\\"Male\\\",\\\"425\\\":\\\"Male\\\",\\\"497\\\":\\\"Male\\\",\\\"728\\\":\\\"Male\\\",\\\"755\\\":\\\"Female\\\",\\\"354\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"468\\\":5.0,\\\"213\\\":98.0,\\\"960\\\":35.0,\\\"803\\\":89.0,\\\"439\\\":58.0,\\\"425\\\":81.0,\\\"497\\\":50.0,\\\"728\\\":28.0,\\\"755\\\":50.0,\\\"354\\\":55.0}}\"}",
    "{\"model_type\": \"classifier\", \"desired_class\": 0.0, \"desired_range\": null, \"test_instance_df\": \"{\\\"age\\\":{\\\"14370\\\":22},\\\"workclass\\\":{\\\"14370\\\":\\\"Other\\\\/Unknown\\\"},\\\"education\\\":{\\\"14370\\\":\\\"Assoc\\\"},\\\"marital_status\\\":{\\\"14370\\\":\\\"Single\\\"},\\\"occupation\\\":{\\\"14370\\\":\\\"Other\\\\/Unknown\\\"},\\\"race\\\":{\\\"14370\\\":\\\"White\\\"},\\\"gender\\\":{\\\"14370\\\":\\\"Male\\\"},\\\"hours_per_week\\\":{\\\"14370\\\":15}}\", \"test_instance_pred\": 0.9983773482867343, \"final_cfs_df\": \"{\\\"age\\\":{\\\"468\\\":39.0,\\\"213\\\":44.0,\\\"960\\\":70.0,\\\"803\\\":74.0,\\\"439\\\":79.0,\\\"425\\\":60.0,\\\"497\\\":53.0,\\\"728\\\":53.0,\\\"755\\\":74.0,\\\"354\\\":48.0},\\\"workclass\\\":{\\\"468\\\":\\\"Self-Employed\\\",\\\"213\\\":\\\"Self-Employed\\\",\\\"960\\\":\\\"Self-Employed\\\",\\\"803\\\":\\\"Government\\\",\\\"439\\\":\\\"Self-Employed\\\",\\\"425\\\":\\\"Government\\\",\\\"497\\\":\\\"Government\\\",\\\"728\\\":\\\"Self-Employed\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Other\\\\/Unknown\\\"},\\\"education\\\":{\\\"468\\\":\\\"Masters\\\",\\\"213\\\":\\\"Masters\\\",\\\"960\\\":\\\"Masters\\\",\\\"803\\\":\\\"Bachelors\\\",\\\"439\\\":\\\"Masters\\\",\\\"425\\\":\\\"Bachelors\\\",\\\"497\\\":\\\"Bachelors\\\",\\\"728\\\":\\\"Masters\\\",\\\"755\\\":\\\"Prof-school\\\",\\\"354\\\":\\\"Doctorate\\\"},\\\"marital_status\\\":{\\\"468\\\":\\\"Married\\\",\\\"213\\\":\\\"Married\\\",\\\"960\\\":\\\"Married\\\",\\\"803\\\":\\\"Single\\\",\\\"439\\\":\\\"Married\\\",\\\"425\\\":\\\"Single\\\",\\\"497\\\":\\\"Single\\\",\\\"728\\\":\\\"Married\\\",\\\"755\\\":\\\"Widowed\\\",\\\"354\\\":\\\"Widowed\\\"},\\\"occupation\\\":{\\\"468\\\":\\\"Professional\\\",\\\"213\\\":\\\"Professional\\\",\\\"960\\\":\\\"Professional\\\",\\\"803\\\":\\\"White-Collar\\\",\\\"439\\\":\\\"Professional\\\",\\\"425\\\":\\\"White-Collar\\\",\\\"497\\\":\\\"White-Collar\\\",\\\"728\\\":\\\"Professional\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Sales\\\"},\\\"race\\\":{\\\"468\\\":\\\"White\\\",\\\"213\\\":\\\"White\\\",\\\"960\\\":\\\"White\\\",\\\"803\\\":\\\"White\\\",\\\"439\\\":\\\"White\\\",\\\"425\\\":\\\"White\\\",\\\"497\\\":\\\"White\\\",\\\"728\\\":\\\"White\\\",\\\"755\\\":\\\"Other\\\",\\\"354\\\":\\\"Other\\\"},\\\"gender\\\":{\\\"468\\\":\\\"Male\\\",\\\"213\\\":\\\"Male\\\",\\\"960\\\":\\\"Male\\\",\\\"803\\\":\\\"Male\\\",\\\"439\\\":\\\"Male\\\",\\\"425\\\":\\\"Male\\\",\\\"497\\\":\\\"Male\\\",\\\"728\\\":\\\"Male\\\",\\\"755\\\":\\\"Female\\\",\\\"354\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"468\\\":5.0,\\\"213\\\":98.0,\\\"960\\\":35.0,\\\"803\\\":89.0,\\\"439\\\":58.0,\\\"425\\\":81.0,\\\"497\\\":50.0,\\\"728\\\":28.0,\\\"755\\\":50.0,\\\"354\\\":55.0}}\"}",
    "{\"model_type\": \"classifier\", \"desired_class\": 0.0, \"desired_range\": null, \"test_instance_df\": \"{\\\"age\\\":{\\\"19403\\\":21},\\\"workclass\\\":{\\\"19403\\\":\\\"Private\\\"},\\\"education\\\":{\\\"19403\\\":\\\"HS-grad\\\"},\\\"marital_status\\\":{\\\"19403\\\":\\\"Single\\\"},\\\"occupation\\\":{\\\"19403\\\":\\\"White-Collar\\\"},\\\"race\\\":{\\\"19403\\\":\\\"White\\\"},\\\"gender\\\":{\\\"19403\\\":\\\"Male\\\"},\\\"hours_per_week\\\":{\\\"19403\\\":40}}\", \"test_instance_pred\": 0.9978778285764349, \"final_cfs_df\": \"{\\\"age\\\":{\\\"468\\\":39.0,\\\"213\\\":44.0,\\\"960\\\":70.0,\\\"803\\\":74.0,\\\"439\\\":79.0,\\\"425\\\":60.0,\\\"497\\\":53.0,\\\"728\\\":53.0,\\\"755\\\":74.0,\\\"354\\\":48.0},\\\"workclass\\\":{\\\"468\\\":\\\"Self-Employed\\\",\\\"213\\\":\\\"Self-Employed\\\",\\\"960\\\":\\\"Self-Employed\\\",\\\"803\\\":\\\"Government\\\",\\\"439\\\":\\\"Self-Employed\\\",\\\"425\\\":\\\"Government\\\",\\\"497\\\":\\\"Government\\\",\\\"728\\\":\\\"Self-Employed\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Other\\\\/Unknown\\\"},\\\"education\\\":{\\\"468\\\":\\\"Masters\\\",\\\"213\\\":\\\"Masters\\\",\\\"960\\\":\\\"Masters\\\",\\\"803\\\":\\\"Bachelors\\\",\\\"439\\\":\\\"Masters\\\",\\\"425\\\":\\\"Bachelors\\\",\\\"497\\\":\\\"Bachelors\\\",\\\"728\\\":\\\"Masters\\\",\\\"755\\\":\\\"Prof-school\\\",\\\"354\\\":\\\"Doctorate\\\"},\\\"marital_status\\\":{\\\"468\\\":\\\"Married\\\",\\\"213\\\":\\\"Married\\\",\\\"960\\\":\\\"Married\\\",\\\"803\\\":\\\"Single\\\",\\\"439\\\":\\\"Married\\\",\\\"425\\\":\\\"Single\\\",\\\"497\\\":\\\"Single\\\",\\\"728\\\":\\\"Married\\\",\\\"755\\\":\\\"Widowed\\\",\\\"354\\\":\\\"Widowed\\\"},\\\"occupation\\\":{\\\"468\\\":\\\"Professional\\\",\\\"213\\\":\\\"Professional\\\",\\\"960\\\":\\\"Professional\\\",\\\"803\\\":\\\"White-Collar\\\",\\\"439\\\":\\\"Professional\\\",\\\"425\\\":\\\"White-Collar\\\",\\\"497\\\":\\\"White-Collar\\\",\\\"728\\\":\\\"Professional\\\",\\\"755\\\":\\\"Other\\\\/Unknown\\\",\\\"354\\\":\\\"Sales\\\"},\\\"race\\\":{\\\"468\\\":\\\"White\\\",\\\"213\\\":\\\"White\\\",\\\"960\\\":\\\"White\\\",\\\"803\\\":\\\"White\\\",\\\"439\\\":\\\"White\\\",\\\"425\\\":\\\"White\\\",\\\"497\\\":\\\"White\\\",\\\"728\\\":\\\"White\\\",\\\"755\\\":\\\"Other\\\",\\\"354\\\":\\\"Other\\\"},\\\"gender\\\":{\\\"468\\\":\\\"Male\\\",\\\"213\\\":\\\"Male\\\",\\\"960\\\":\\\"Male\\\",\\\"803\\\":\\\"Male\\\",\\\"439\\\":\\\"Male\\\",\\\"425\\\":\\\"Male\\\",\\\"497\\\":\\\"Male\\\",\\\"728\\\":\\\"Male\\\",\\\"755\\\":\\\"Female\\\",\\\"354\\\":\\\"Female\\\"},\\\"hours_per_week\\\":{\\\"468\\\":5.0,\\\"213\\\":98.0,\\\"960\\\":35.0,\\\"803\\\":89.0,\\\"439\\\":58.0,\\\"425\\\":81.0,\\\"497\\\":50.0,\\\"728\\\":28.0,\\\"755\\\":50.0,\\\"354\\\":55.0}}\"}",

## Convert the json output to a counterfactual object

In [21]:
imp_r=imp.from_json(json_str)
print([ o.visualize_as_dataframe() for o in imp_r.cf_examples_list])
print(imp_r.local_importance)
print(imp_r.summary_importance)

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
29101,19,Other/Unknown,Some-college,Single,Other/Unknown,White,Female,30

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39,Self-Employed,Masters,Married,Professional,White,Male,5
213,44,Self-Employed,Masters,Married,Professional,White,Male,98
960,70,Self-Employed,Masters,Married,Professional,White,Male,35
803,74,Government,Bachelors,Single,White-Collar,White,Male,89
439,79,Self-Employed,Masters,Married,Professional,White,Male,58
425,60,Government,Bachelors,Single,White-Collar,White,Male,81
497,53,Government,Bachelors,Single,White-Collar,White,Male,50
728,53,Self-Employed,Masters,Married,Professional,White,Male,28
755,74,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,50
354,48,Other/Unknown,Doctorate,Widowed,Sales,Other,Female,55

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
10606,50,Private,Some-college,Married,Blue-Collar,White,Male,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39,Self-Employed,Masters,Married,Professional,White,Male,5
213,44,Self-Employed,Masters,Married,Professional,White,Male,98
960,70,Self-Employed,Masters,Married,Professional,White,Male,35
803,74,Government,Bachelors,Single,White-Collar,White,Male,89
439,79,Self-Employed,Masters,Married,Professional,White,Male,58
425,60,Government,Bachelors,Single,White-Collar,White,Male,81
497,53,Government,Bachelors,Single,White-Collar,White,Male,50
728,53,Self-Employed,Masters,Married,Professional,White,Male,28
755,74,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,50
354,48,Other/Unknown,Doctorate,Widowed,Sales,Other,Female,55

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
9414,62,Private,Some-college,Married,White-Collar,White,Male,40

Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
200,66,Government,Bachelors,Single,White-Collar,White,Male,48
150,39,Government,Bachelors,Single,White-Collar,White,Male,7
744,83,Government,Bachelors,Single,White-Collar,White,Male,68
253,18,Other/Unknown,Doctorate,Widowed,Other/Unknown,Other,Female,89
752,43,Self-Employed,School,Married,Blue-Collar,White,Male,31
653,21,Government,HS-grad,Single,White-Collar,White,Male,27
452,35,Private,Some-college,Divorced,Service,Other,Female,67
825,50,Self-Employed,Masters,Divorced,Professional,White,Male,31
807,48,Government,HS-grad,Single,Blue-Collar,White,Male,32
614,60,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,87

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
1747,20,Private,HS-grad,Single,White-Collar,White,Female,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39,Self-Employed,Masters,Married,Professional,White,Male,5
213,44,Self-Employed,Masters,Married,Professional,White,Male,98
960,70,Self-Employed,Masters,Married,Professional,White,Male,35
803,74,Government,Bachelors,Single,White-Collar,White,Male,89
439,79,Self-Employed,Masters,Married,Professional,White,Male,58
425,60,Government,Bachelors,Single,White-Collar,White,Male,81
497,53,Government,Bachelors,Single,White-Collar,White,Male,50
728,53,Self-Employed,Masters,Married,Professional,White,Male,28
755,74,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,50
354,48,Other/Unknown,Doctorate,Widowed,Sales,Other,Female,55

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
10677,25,Private,Bachelors,Single,White-Collar,White,Female,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39,Self-Employed,Masters,Married,Professional,White,Male,5
213,44,Self-Employed,Masters,Married,Professional,White,Male,98
960,70,Self-Employed,Masters,Married,Professional,White,Male,35
803,74,Government,Bachelors,Single,White-Collar,White,Male,89
439,79,Self-Employed,Masters,Married,Professional,White,Male,58
425,60,Government,Bachelors,Single,White-Collar,White,Male,81
497,53,Government,Bachelors,Single,White-Collar,White,Male,50
728,53,Self-Employed,Masters,Married,Professional,White,Male,28
755,74,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,50
354,48,Other/Unknown,Doctorate,Widowed,Sales,Other,Female,55

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
14370,22,Other/Unknown,Assoc,Single,Other/Unknown,White,Male,15

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39,Self-Employed,Masters,Married,Professional,White,Male,5
213,44,Self-Employed,Masters,Married,Professional,White,Male,98
960,70,Self-Employed,Masters,Married,Professional,White,Male,35
803,74,Government,Bachelors,Single,White-Collar,White,Male,89
439,79,Self-Employed,Masters,Married,Professional,White,Male,58
425,60,Government,Bachelors,Single,White-Collar,White,Male,81
497,53,Government,Bachelors,Single,White-Collar,White,Male,50
728,53,Self-Employed,Masters,Married,Professional,White,Male,28
755,74,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,50
354,48,Other/Unknown,Doctorate,Widowed,Sales,Other,Female,55

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
19403,21,Private,HS-grad,Single,White-Collar,White,Male,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39,Self-Employed,Masters,Married,Professional,White,Male,5
213,44,Self-Employed,Masters,Married,Professional,White,Male,98
960,70,Self-Employed,Masters,Married,Professional,White,Male,35
803,74,Government,Bachelors,Single,White-Collar,White,Male,89
439,79,Self-Employed,Masters,Married,Professional,White,Male,58
425,60,Government,Bachelors,Single,White-Collar,White,Male,81
497,53,Government,Bachelors,Single,White-Collar,White,Male,50
728,53,Self-Employed,Masters,Married,Professional,White,Male,28
755,74,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,50
354,48,Other/Unknown,Doctorate,Widowed,Sales,Other,Female,55

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
23351,24,Other/Unknown,Bachelors,Single,Other/Unknown,Other,Male,25

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39,Self-Employed,Masters,Married,Professional,White,Male,5
213,44,Self-Employed,Masters,Married,Professional,White,Male,98
960,70,Self-Employed,Masters,Married,Professional,White,Male,35
803,74,Government,Bachelors,Single,White-Collar,White,Male,89
439,79,Self-Employed,Masters,Married,Professional,White,Male,58
425,60,Government,Bachelors,Single,White-Collar,White,Male,81
497,53,Government,Bachelors,Single,White-Collar,White,Male,50
728,53,Self-Employed,Masters,Married,Professional,White,Male,28
755,74,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,50
354,48,Other/Unknown,Doctorate,Widowed,Sales,Other,Female,55

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
14405,52,Private,HS-grad,Divorced,Service,White,Male,40

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39,Self-Employed,Masters,Married,Professional,White,Male,5
213,44,Self-Employed,Masters,Married,Professional,White,Male,98
960,70,Self-Employed,Masters,Married,Professional,White,Male,35
803,74,Government,Bachelors,Single,White-Collar,White,Male,89
439,79,Self-Employed,Masters,Married,Professional,White,Male,58
425,60,Government,Bachelors,Single,White-Collar,White,Male,81
497,53,Government,Bachelors,Single,White-Collar,White,Male,50
728,53,Self-Employed,Masters,Married,Professional,White,Male,28
755,74,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,50
354,48,Other/Unknown,Doctorate,Widowed,Sales,Other,Female,55

Query instance (original outcome : 1)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
29604,30,Private,Some-college,Single,Service,White,Male,48

Counterfactual set (new outcome: 0.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week
468,39,Self-Employed,Masters,Married,Professional,White,Male,5
213,44,Self-Employed,Masters,Married,Professional,White,Male,98
960,70,Self-Employed,Masters,Married,Professional,White,Male,35
803,74,Government,Bachelors,Single,White-Collar,White,Male,89
439,79,Self-Employed,Masters,Married,Professional,White,Male,58
425,60,Government,Bachelors,Single,White-Collar,White,Male,81
497,53,Government,Bachelors,Single,White-Collar,White,Male,50
728,53,Self-Employed,Masters,Married,Professional,White,Male,28
755,74,Other/Unknown,Prof-school,Widowed,Other/Unknown,Other,Female,50
354,48,Other/Unknown,Doctorate,Widowed,Sales,Other,Female,55

[None, None, None, None, None, None, None, None, None, None]
[{'workclass': 0.8, 'education': 1.0, 'marital_status': 0.7, 'occupation': 0.9, 'race': 0.2, 'gender': 0.8, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 0.5, 'occupation': 1.0, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 0.9, 'education': 0.9, 'marital_status': 0.9, 'occupation': 0.6, 'race': 0.3, 'gender': 0.3, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 0.7, 'occupation': 0.7, 'race': 0.2, 'gender': 0.8, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 0.7, 'marital_status': 0.7, 'occupation': 0.7, 'race': 0.2, 'gender': 0.8, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 0.8, 'education': 1.0, 'marital_status': 0.7, 'occupation': 0.9, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 0.7, 'occupation': 0.7, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 0.8, 'education': 0.7, 'marital_status': 0.7, 'occupation': 0.9, 'race': 0.8, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 1.0, 'occupation': 1.0, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}, {'workclass': 1.0, 'education': 1.0, 'marital_status': 0.7, 'occupation': 1.0, 'race': 0.2, 'gender': 0.2, 'age': 1.0, 'hours_per_week': 1.0}]
{'workclass': 0.93, 'education': 0.93, 'marital_status': 0.73, 'occupation': 0.84, 'race': 0.27, 'gender': 0.39, 'age': 1.0, 'hours_per_week': 1.0}